<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting value="VARCHAR" name="jdbcTypeForNull"/>
    </settings>
    <typeAliases>
        <!-- city  -->
        <package name="sample.model"/>
        <package name="com.sample.city.getCity.model"/>
        
    </typeAliases>
   
    <mappers>
        <!-- city  -->    
        <mapper resource="mappers/mysql/getCity/getCityMapper.xml"/>
        
    </mappers>
   
</configuration>
 